<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
     <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body>
    {{{body}}}




    <script src="javascripts/jquery-3.3.1.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.magnific-popup.min.js"></script>
<script src="javascripts/jquery-ui.min.js"></script>
<script src="javascripts/mixitup.min.js"></script>
<script src="javascripts/jquery.countdown.min.js"></script>
<script src="javascripts/jquery.slicknav.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/jquery.nicescroll.min.js"></script>
<script src="javascripts/main.js"></script>
  </body>
</html>
